@-webkit-keyframes color-change-5x {
  0% {
    background: #1253ec;
  }
  25% {
    background: #0f44c1;
  }
  50% {
    background: #0b3391;
  }
  75% {
    background: #0a2a75;
  }
  100% {
    background: #061c4f;
  }
}
@keyframes color-change-5x {
  0% {
    background: #1253ec;
  }
  25% {
    background: #0f44c1;
  }
  50% {
    background: #0b3391;
  }
  75% {
    background: #0a2a75;
  }
  100% {
    background: #061c4f;
  }
}
.color-change-5x {
  -webkit-animation: color-change-5x 10s linear infinite alternate both;
  animation: color-change-5x 10s linear infinite alternate both;
}
